/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.nav{
  background: rgb(56, 127, 129);
  height: 80px;
  color: #fff;
}

.nav_container{
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between; 
  align-items: center; 
}

.nav_logo{
  font-size: 1.5em;
  font-weight: 900;
}

.nav_label, .nav_input{
  display: none;
}

.nav_menu{
  display: grid;
  grid-auto-flow: column;
  gap: 3em;
}

.nav_item{
  color: #fff;
  text-decoration: none;
  --clippy: polygon(0 0, 0 0, 0 99%, 0 100%);
}

.nav_item::after{
  content: "";
  display: block;
  background: #fff;
  height: 3px;
  width: 90%;
  margin-top: 3px;
  clip-path: var(--clippy);
  transition: clip-path 0.5s;
}

.nav_item:hover{
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

@media (max-width: 700px) {
  .nav_label{
    display: block;
    cursor: pointer;
  }

  .nav_menu{
    position: fixed;
    top: 80px;
    bottom: 0;
    background: rgb(0, 98, 128);
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
  }

  .nav_input:checked + .nav_menu{
    clip-path: circle(100% at center);
  }
}

.contenedor{
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.titulo{
  color: hotpink;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}

/*Header*/ 

header{
  width: 100%;
  height: 650px;
  background: #00F260;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, hsla(210, 85%, 60%, 0.589), hsla(144, 100%, 47%, 0.589)), url(../img/Portada_Huerto.jpg);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, hsla(210, 85%, 60%, 0.589), hsla(144, 100%, 47%, 0.589)), url(../img/Portada_Huerto.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.wave{
  position: absolute;
  bottom: 0;
  width: 100%;
}

header .textos-header{
  display: flex;
  height: 430px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.textos-header h1{
  font-size: 50px;
  color: #fff;
}

.textos-header h2{
  font-size: 30px;
  font-weight: 300;
  color: #fff;
}

.contenedor-sobre-nosotros{
  display: flex;
  justify-content: space-evenly;
}

.imagen-about-us{
  width: 48%;
}

.sobre_nosotros .contenido-textos{
  width: 48%;
}

.contenido-textos h3{
  margin-bottom: 15px;
}

.contenido-textos h3 span{
  background: darkblue;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 2px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
  margin-right: 5px;
}

.contenido-textos p{
  padding: 0px, 0px, 30px, 15px;
  font-weight: 300;
  text-align: justify;
}

/*galeria*/
.portafolio{
  background: #f2f2f2;
}

.galeria-port{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.imagen-port{
  width: 24%;
  height: 200px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hover-galeria{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(0);
  background: hsla(273, 91%, 27%, 0.7);
  transition: transform .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hover-galeria img{
  width: 50px;
}

.hover-galeria p{
  color: #fff;
}

.imagen-port:hover .hover-galeria{
  transform: scale(1);
}
/*Notas
Space beetwen es para que los elementos se acomoden hacia las esquinas
Space evenly es para qu distribuya el espacio equitativamente*/
